<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
<!--link rel="stylesheet" href="style.css"/-->
</head>


<body>
<!-- Second hidden canvas -->
<!--div id="divHidden" style="position:absolute; top:0px; left:0px;">
  <canvas id="canvasHidden" width="750" height="700" style="background-color:#000"/>
</div-->
<!-- First visible canvas -->
<div id="divBoard" style="position:absolute; top:0px; left:0px;">
  <canvas id="canvasBoard" width="750" height="700" style="background-color:#fff"></canvas>
</div>
<!-- Move list -->
<!--div id="divMoveList" class="moveList"
     style="position:absolute; top:150px; left:750px; width:400px; background-color:#fff">
</div-->
<script src="../../static/juegos/tictactoe.js"></script>
</body>
</html>